.card-container{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: x-large;
}

.card{
    min-height: 160px;
}

.card-container span{
    line-height: 2;
}
.container-fluid a:hover{
    text-decoration: none;
}

.section{
    margin: 15px -15px 15px -15px;
}


.submit_container{
    position: sticky; 
    margin-bottom: 10px;
    bottom: 10px;
    right: 55px;
    z-index: 1;
    width: 100px;
    float: right;
}

@media (min-width: 767px){
    .submit_container{
        margin-right: -200px;
    }
}

.subitems .active{
    background: cadetblue;
}